    /*Potla Minimal Portfolio Template By AlexaTheme*/

/*  ==========================================================================
    Table of Contets
    ==========================================================================
    
    1.0 Common Styles
    2.0 Header Section
    3.0 Hero Section
    4.0 Work Section
    5.0 About Section
    6.0 Services Section
    7.0 Skills Section
    8.0 CTA Section
    9.0 Contact Section
    10.0 Blog Section
    11.0 Footer Section
    12.0 Scroll To Top
    
    ==========================================================================
    AlexaTheme
    ========================================================================== */

    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700');
    
/*  ==========================================================================
    1.0 Common Styles
    ========================================================================== */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', sans-serif;
    -webkit-font-smoothing:antialiased;
    color: #222;
}
h1{
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 10px;
    font-weight: 700;
}
h2{
    font-size: 24px;
    color: #333;
    margin: 0 0 8px;
    font-weight: 700;
    line-height: 35px;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    font-size: 14px;
    margin-bottom: 15px;
}
a{  font-family: "Playfair Display",sans-serif;
    letter-spacing: -0.04em;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #888 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #888 !important;  
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #888 !important;  
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{  
   color: #888 !important;  
}
button{
    border: none;
    background: none;
}
/* Helper Class */
.padding{
    padding: 80px 0;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.mb-0{ margin-bottom: 0; }
.mb-10{ margin-bottom: 10px; }
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.ml-5{ margin-left: 5px; }
.ml-10{ margin-left: 10px; }
.mr-5{ margin-right: 5px; }
.mr-10{ margin-right: 10px; }
.mt-15{ margin-left: 15px; }
.mt-15{ margin-left: 15px; }
.padding-15{ padding: 15px; }

.display-block{ display: block; }
.text-black{
    color: #282828;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.bg-grey{
    background-color: #f2f2f2;
}
.bd-bottom{
    border-bottom: 1px solid #eaeaea;
}
.bg-dark{
    background-color: #232323;
}

/* Preloader Styles */
.loaded .site-preloader-wrap {
    opacity: 0;
    visibility: hidden;
}
.site-preloader-wrap {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #111;
    top: 0;left: 0
}

.site-preloader-wrap .spinner {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.spinner {
  width: 40px;
  height: 40px;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/* Button Style */
.btn_group{}
.btn_group a{
    margin: 5px;
}
.default-btn{
    font-family: "Open Sans",sans-serif;
    letter-spacing: 2px;
    background-color: #222;
    color: #ddd;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.default-btn:hover{
    background-color: #333;
    color: #fff;
}
.default-btn.btn_sm{
    line-height: 40px;
    padding: 0 15px;
}

/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* ==========================================================================
   2.0 Header Section
   ========================================================================== */
.header-section{
    position: absolute;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.06);
    box-shadow: 0 0 15px rgba(0,0,0,0.06);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.header-section.navbar-fixed-top{
    position: fixed;
}
.header-section.navbar-fixed-top .top-header{
    display: none;
}
.header-height{ width: 100%; }

/*Main Header */
.main-header{
    background-color: #fff;
    position: relative;
}
.bottom-content-wrap{
    display: flex;
    align-items: center;
}
#mainmenu{
    display: inline-block;
    margin-right: 20px;
}
#mainmenu li{
    position: relative;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}
#mainmenu li a{
    color: #222;
    font-weight: 700;
    padding: 30px 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
}
#mainmenu li a:hover{
    color: #111;
}
/*Dropdown */
#mainmenu li ul{
    background-color: #fff;
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 140%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
}
#mainmenu li:hover > ul{
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}
#mainmenu li ul li{
    border-bottom: 1px solid #eaeaea;
    display: block;
    position: relative;
}
#mainmenu li ul li:last-child{
    border: none;
}
#mainmenu li ul li a{
    line-height: 45px;
    display: block;
    padding: 0 15px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
    -webkit-transition: color 0.3s ease 0s, padding 0.3s ease 0s;
    transition: color 0.3s ease 0s, padding 0.3s ease 0s;
}
#mainmenu li > ul > li:hover a{
    color: #111;
}
#mainmenu li > ul ul{
    background-color: #fff;
    left: 200px;
}
#mainmenu li > ul li:hover > ul li a{
    color: #777;
}
#mainmenu li ul li:hover > ul{
    top: 0;
    opacity: 1;
    visibility: visible;
}
#mainmenu li > ul li:hover > ul li > a:hover{
    background-color: transparent;
    color: #fff;
}
#mainmenu li ul li li a:hover{
    color: #ffca3f !important;
}
/*Social Icon*/
.social-icon{
    position: relative;
    display: inline-block;
}
.social-icon li{
    display: inline-block;
}
.social-icon li a{
    display: inline-block;
    color: #111;
    font-size: 12px;
    margin: 8px;
}
.main-header .social-icon li a{
	color: #111;
}
.social-icon li a:hover{
    transform: rotate(1080deg);
}
/*Mobile Menu */
.slicknav_menu {
    background: none;
    padding: 4px 0;
    display:none;
    z-index: 999;
}
.slicknav_nav {
    background-color: #fff;
}
.js .slicknav_menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.slicknav_btn{
    background-color: transparent;
    margin: 13px 5px 14px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row, 
.slicknav_nav a,
.slicknav_nav a:hover{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.slicknav_nav .slicknav_row, 
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #777;
}
.slicknav_nav a .caret{
    display: none;
}
.slicknav_nav ul{
    margin: 0;
}
.slicknav_nav ul li a{
    padding-left: 30px;
    font-size: 12px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover{
    background-color: transparent;
    color: #333;
}

/* ==========================================================================
   3.0 Hero Section
   ========================================================================== */
.hero-section{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 450px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.hero-content{}
.hero-content h1{
    color: #111;
    margin: 0;
}

/* ==========================================================================
   4.0 Work Section
   ========================================================================== */
.home .work-section{
    padding-top: 0;
}
.work-items{
	margin-top: -10px;
}
.work-items .col-md-4{
    padding: 10px;
}
.work-box{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.work-box img{
    width: 100%;
}
.work-thumb{
    transition: all 0.3s ease-in-out;
}
.work-box:hover .work-thumb{
    transform: scale(1.2);
}
.work-details{
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.work-box:hover .work-details{
    visibility: visible;
    opacity: 1;
}
.work-box:hover .work-content h3{
    transform: rotate(1080deg);
    transition: all 0.3s ease-in-out;
}
.work-details h3 a{
    font-weight: 700;
    color: #222;
}
.work-details h3{
    margin-bottom: 5px;
    display: block;
}
/*Work Filter*/
.work-filter{
    margin: 0 auto 40px;
    text-align: center;
}
.work-filter.center-align{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto 40px;
}
.work-filter.center-align li{
    margin: 0 10px;
}
.work-filter li{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
}
.work-filter li a{
    display: inline-block;
}
.work-filter li:before{
    width: 100%;
    height: 3px;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -3px;
    background: #111;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 30px;
}
.work-filter li.active:before,
.work-filter li:hover:before, .work-filter li:focus:before, .work-filter li:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.work-filter li:hover, .work-filter li:focus, .work-filter li:active{
    cursor: pointer;
}

/*Works Single*/
.works-single{
    background-image: url(../img/work-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.single-content .share-wrap{
    margin-bottom: 0;
}
/* ==========================================================================
   5.0 About Section
   ========================================================================== */
.about-section{}
.about-wrap{
    display: flex;
    align-items: center;
}
.about-bg{}
.about-bg img{
    width: 100%;
}
.about-content{}

/* ==========================================================================
   6.0 Service Section
   ========================================================================== */
.service-section{}
.service-wrap{
    margin-top: -15px;
    margin-bottom: -15px;
}
.service-wrap .col-md-3{
    padding: 15px;
}
.service-content i{
    font-size: 30px;
    color: #222;
    background-color: transparent;
    border: 1px solid #ddd;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 15px;
}
.service-content h3{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
}
.service-content p{
    margin: 0;
}

/* ==========================================================================
   7.0 Skils Section
   ========================================================================== */
.skill-section{
    position: relative;
    overflow: hidden;
}
.skill-img{
    background-image: url(../img/skills.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.skill-img img{
    width: 100%;
    height: 100%;
}
.skill-content {
    padding: 104px 50px;
}
.skill-wrap{
    margin-bottom: 20px;
}
.skill-content p{
    margin-bottom: 0;
}
.skill-items{}
.skill-items .skill-item{
    margin-bottom: 20px;
    overflow: hidden;
}
.skill-items .skill-item .progress {
    height: 10px;
    background-color: #ddd;
    box-shadow: none;
    margin-bottom: 0;
    overflow: visible;
}
.skill-items .skill-item .progress,
.skill-items .skill-item .progress .progress-bar{
    border-radius: 3px;
}
.skill-items .skill-item .progress .progress-bar{
    line-height: 5px;
    background-color: #111;
    position: relative;
}
.skill-items .skill-item .progress .progress-bar span{
    position: absolute;
    top: -15px;
    right: -15px;
    color: #666;
    font-size: 10px;
    font-weight: 600;
}
.skill-items .skill-item .progress .progress-bar span:before{
    content: '';
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 4px);
    bottom: -4px;
}

/* ==========================================================================
   8.0 Cta Section
   ========================================================================== */
.cta-section{
    padding: 120px 0;
}
.cta-content{
}
.cta-content h2{
    font-size: 30px;
    margin-bottom: 25px;
}

/* ==========================================================================
   9.0 Contact Section
   ========================================================================== */
.contact-section{
    position: relative;
    z-index: 1;
}
.contact-wrap{
    background-color: #f2f2f2;
    padding: 80px 50px;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
    margin-top: 110px;
    border-radius: 5px;
}

.contact-info ul li{
    line-height: 40px;
    display: flex;
    align-items: center;
}
.contact-info ul li i{
    margin-right: 10px;
    color: #999;
    font-size: 20px;
}
.contact-info ul li{
    font-family: "Roboto Slab",sans-serif;
    font-weight: 600;
    font-size: 12px;
}

/*Contact Form*/
.contact-form .form-control{
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: transparent;
}
.contact-form .form-control.message{
    height: 150px;
}
#form-messages{
    display: none;
}
#form-messages.alert-danger,
#form-messages.alert-success{
    display: block;
}
/*Google Map*/
#google_map{
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ==========================================================================
   10.0 Blog Section
   ========================================================================== */
.blog-section{}
.blog-items.row{
    margin-top: -15px;
}
.blog-post{}
.blog-post img{
    width: 100%;
    margin-bottom: 10px;
}
.blog-post img:hover{
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}
.blog-post .blog-content h3{
    font-weight: 700;
    font-size: 18px;
}
.blog-post .blog-content a{
    color: #333;
}
.blog-post .blog-content a:hover{
    opacity: 0.8;
}
span.date{
    font-family: "Open Sans",sans-serif;
    color: #999;
    font-weight: 700;
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
}
.blog-post .blog-content .post-meta{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    letter-spacing: -0.2px
}
.blog-post .blog-content .post-meta:hover{
    opacity: 0.8;
    text-decoration: underline;
}

/*Single Post Style*/
.single-post{}
.single-post img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.single-post h2{
    font-weight: 800;
}
.single-post .meta-info{
    margin-bottom: 25px;
}
.single-post .meta-info span{
    font-family: "Roboto Slab",sans-serif;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
}
.single-post .meta-info a{
    font-weight: 800;
    color: #777;
}
.single-post .meta-info i{
    color: #777;
}

/*Social Share*/
.share-wrap{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
}
.share-wrap h4{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
}
.share-icon{
    display: inline-block;
}
.share-icon li{
    display: inline-block;
    margin-right: 10px;
}
.share-icon i{
    margin-right: 5px;
}
.share-icon li:nth-child(1) a{ background-color: #3B5998; }
.share-icon li:nth-child(2) a{ background-color: #1DCAFF; }
.share-icon li:nth-child(3) a{ background-color: #DB4A39; }
.share-icon li:nth-child(4) a{ background-color: #e4405f; }
.share-icon li:nth-child(5) a{ background-color: #0077B5; }
.share-icon li a{
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
}
.share-icon li a:hover{
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}

/*Comments Style*/
.comments-wrapper{
    width: 100%;
}
.comments-wrapper h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.comments-list {
	margin-top: 30px;
	position: relative;
    margin-bottom: 50px;
    
}

/*Lines Details*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #eee;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #eee;
	bottom: 0;
	left: 29px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #eee;
	position: absolute;
	top: 25px;
	left: -55px;
}
.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}
.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}
.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/*Avatar*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
    margin-right: 10px;
}
.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}
.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}
.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/*Comment List*/
.comments-list .comment-box {
	width: 840px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}
.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}
.reply-list .comment-box {
	width: 760px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
	color: #03658c;
}
.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}
.comment-box .comment-name a {
	color: #283035;
}
.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}
.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*Comment Form*/
.comment-form h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
.comment-form .form-control{
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: transparent;
}
.comment-form .form-control.message{
    height: 150px;
}
#form-messages{
    display: none;
}
#form-messages.alert-danger,
#form-messages.alert-success{
    display: block;
}

/* Pagination 
=============== */
.pagination_wrap{}
.pagination_wrap li{
    display: inline-block;
    margin: 0 5px;
}
.pagination_wrap li a{
    border: 1px solid #ddd;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #777;
    font-weight: 600;
}
.pagination_wrap li a:hover{
    opacity: 1;
    text-decoration: none;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}
.pagination_wrap li a.active{
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
}

/* ==========================================================================
   11.0 Footer Section
   ========================================================================== */
.footer-section{
    background-color: #111;
}
.footer-content h2{
    color: #fff;
}
.social-icon li a{
    color: #ddd;
    margin: 0 20px 0 0;
    line-height: 12px;
}
.footer-info li{
    margin-bottom: 15px;
}
.footer-info li:last-child{
    margin-bottom: 0;
}

/*Copyright Text*/
.copyright-text{
    background-color: #111;
    padding: 25px 0;
    border-top: 1px solid #222;
}
.copyright-text p{
    margin: 0;
}
/* ==========================================================================
   12.0 Scroll To Top
   ========================================================================== */
#scroll-to-top{
    background-color: #111;
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover{
    background-color: #222;
    color: #fff;
}